main {
    justify-content: center;
    display: flex;
    flex-direction: column;
}
main section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main section article {
    width: 50%;
}

main section img {
    width: 35%;
}

main button {
    font-size: 2em;
    align-self: center;
}
main label {
    font-size: 1.5em;
    align-content: center;
    align-self: center;
}
section canvas {
    width: 50%;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    justify-self: center;
    border: 2px solid #36ABAB;
    background-color: #36ABAB;
}

canvas > * {
    background-color: #36ABAB;
}

aside > h4,aside > p {
    margin: 0 5%;
}
main aside {
    width: 80%;
    margin: 0 8%;
    padding: 0;
    padding-left: 3%;
    padding-right: 3%;
    background-color: #fff;
    border: 0.3vh solid #36ABAB;
}

aside p {
    line-height: normal;
}

main label {
    margin: 2%;
}

