/*especificidad 001*/
main {
    justify-content: center;
    display: flex;
    flex-direction: column;
}
/*especificidad 002*/
main section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*especificidad 003*/
main section article {
    width: 50%;
}
/*especificidad 003*/
main section img {
    width: 35%;
}
/*especificidad 002*/
main button {
    font-size: 2em;
    align-self: center;
}
/*especificidad 002*/
main label {
    font-size: 1.5em;
    align-content: center;
    align-self: center;
}
/*especificidad 002*/
section canvas {
    width: 50%;
    height: auto;
    margin: 2% 5%;
    justify-self: center;
    border: 2px solid #36ABAB;
    background-color: #36ABAB;
    /*color de primer plano heredado de body, estilo.css */
}
/*especificidad 002*/
canvas > * {
    background-color: #36ABAB;
    /*color de primer plano heredado de body, estilo.css */
}
/*especificidad 002*/
aside > h4,
/*especificidad 002*/
aside > p {
    margin: 0 5%;
}
/*especificidad 002*/
main aside {
    width: 80%;
    margin: 0 8%;
    padding: 0 3%;
    background-color: #fff;
    border: 0.3vh solid #36ABAB;
    /*color de primer plano heredado de body, estilo.css */
}
/*especificidad 002*/
aside p {
    line-height: normal;
}
/*especificidad 002*/
main label {
    margin: 2%;
}

@media screen and (max-width: 768px){
    /*especificidad 002*/
    section canvas {
        width: 95%;   /* redefinición del ancho del canvas */
        margin: 0;    /* redefinición del margen */
    }
    /*especificidad 003*/
    main section img {
        width: 85%; /* redefinición del ancho de la imagen */
    }
}
