/*especificidad 002*/
main section {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}
/*especificidad 003*/
main section article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 14%;
    padding: 2%;
    margin: 0.5%;
    border: 0.2vw solid #1D5D5D;
    border-radius: 8px;
    background-color: #fff; 
    text-align: center;
}
/*especificidad 004*/
main section article img {
    width: 25%; 
    height: auto;
}
/*especificidad 004*/
main section article p {
    margin: 1%;
    font-size: 1em;
    color: #050505; 
}

@media screen and (max-width: 799px){
    main section {
        flex-direction: column;
        align-items: center;
    }
    main section article {
        width: 80%;
    }
}