/*datos personales: Francisco Cimadevilla UO294768*/

/*especificidad 001*/
html {
    font-family: "Trebuchet MS", serif;
    font-size: 110%
}

/*especificidad 001*/
body {
    background-color: #fff;
    color: #050505;
}

/*especificidad 001*/
header {
    background-color: #1C4345;
    /*color de primer plano heredado de body*/
}

/*especificidad 002*/
header a{
    color:#fff
    /*color de fondo heredado del header*/
}

a {
    text-decoration: none;
}

/*especificidad 003*/
header h1 a {
    text-decoration-line: none;
}


/*especificidad 002*/
header nav a {
    color: #fff;
    text-decoration-line: none;  
    /*color de fondo heredado del header*/
}

/*especificidad 012*/
header nav a.visited {
    text-decoration-line: underline;  
}

/*especificidad 002*/
body > p {
    background-color: #1D5D5D ;
    color: #fff;
}

/*especificidad 002*/
p > a{
    text-decoration-line: none;
    color: #fff;
    /*color de fondo heredado del body*/
}
/*especificidad 003*/
section p a {
    color:#003BEB; /*color de fondo heredado del body*/
    text-decoration-line: underline;
}

/*especificidad 001*/
footer {
    background-color: #1C4345;
    color:#fff
}

/*especificidad 002*/
footer a {
    color:#fff
    /*color de fondo heredado del footer*/
}

/*especificidad 012*/
nav a:hover, 
ul a:hover{
   font-size: 1.8em;
}

/*especificidad 003*/
aside nav a {
    color: #1C4345 /*color de fondo heredado del body*/
}

/*especificidad 001*/
table {
    background-color: #fff; 
    border: 0.5vw  solid #050505; 
    /*color de primer plano heredado del body*/
}

/*especificidad 002*/
table caption,
/*especificidad 002*/
table th,
/*especificidad 002*/
table td {
    border: 0.5vw solid #050505; 
    background-color: #fff;     /*color de primer plano heredado del body*/
}

/*especificidad 002*/
table tr {
    border-bottom: 0.5vw solid #050505; 
}

/*especificidad 012*/
nav a[class="activo"] {
    color: #92DDDD;
    font-size: 130%;    /*color de primer plano heredado del header*/
}

/*especificidad 003*/
main ul a,
/*especificidad 003*/
aside ul a {
    border: solid #1C4345;
    background-color: #1D5D5D;
    border-radius: 10px;
    color: #fff;
    font-size: 1.7em;
}

/*especificidad 017*/
body > main > section:nth-child(2) > article > ul > li > a {
    border: 0; 
    background-color: #fff; 
    border-radius: 0; 
    color: #1D5D5D;
    font-size: 1.5em;
}
/*especificidad 013*/
main nav a:visited,
/*especificidad 013*/
main nav a:link{
    color:#fff /*color de primer plano heredado del body*/
}

/*especificidad 001*/
svg {
    fill:lightblue;
    stroke:#1C4345;
    stroke-width:3    
}

/*especificidad 001*/
button {
    color: #fff;
    background-color: #1D5D5D;
    font-size: 1.5em;
}

/*especificidad 014*/
main aside:nth-child(4) button {
    border: none;
    border-radius: 50%;
    font-size: 2em;
}

@media screen and (max-width: 768px){
    /*especificidad 001*/
    html {
        font-size: 100% /*redefinición del tamaño de letra*/
    } 
}