/*especificidad 001*/
header {
    display: flex;
    flex-flow: row nowrap;
    padding: 2%;
    align-items: center;
    justify-content: space-between;
    margin: 0%;
    
}

/*especificidad 001*/
body {
    margin: 0%
}

/*especificidad 002*/
header h1 {
    margin: 0%;
}

/*especificidad 002*/
body p {
    padding: 2% 2%;
    margin: 0%;
}

/*especificidad 001*/
body > * {
    padding-left: 2%;
    padding-right: 2%;
}

/*especificidad 001*/
footer {
    padding: 2%;
}

/*especificidad 001*/
table {
    width: 80%;
    border-collapse: collapse; 
    table-layout: fixed;
    margin: 0 auto; 
    text-align: center;
}

/*especificidad 002*/
table caption {
    border-bottom: none;
    padding: 10px;
}

/*especificidad 002*/
table th {
    padding: 10px;
}

/*especificidad 002*/
table td {
    padding: 10px;
}

/*especificidad 002*/
main section video {
    text-align: center;
}

/*especificidad 004*/
body main aside p {
    margin: 0%;
    line-height: 0;
}

/*especificidad 002*/
main nav {
        display: flex;
        flex-direction: column;
        justify-items: center;
        text-align: center;
        font-size: 2em;
}
body aside:has(nav){
    display: grid;
    width: 100%;
    padding: 0;
}
aside nav {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    align-items: center;
    text-align: center;
    align-self: center;

}

aside nav a {
    color: #fff;
    font-size: 2em;
}

aside:has(nav) h2 {
    grid-column: 1/-1;
    text-align: center;
}

@media screen and (max-width: 768px){

    /*espcificidad 001*/
    header {
        display: flex ;
        flex-direction: column;
        padding: 2%;
        align-items: center;
        justify-content: space-between;
        margin: 0%;
    }

    header nav {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        padding-top: 5%;
    }
    nav a{
        padding: 5%;
    }

    aside nav {
        justify-content: center;
    }

    aside nav a {
        color: #fff;
        font-size: 1em;
    }

    
}