/*especificidad 003*/
body main section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
/*especificidad 002*/
body main {
    display: block;
    width: 50%;
    height: 50%;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 25%;
    margin-right: 25%;
}

/*especificidad 002*/
section article {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1%;
    padding: 16.5% 11.5%;
    transform: scale(1);
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}
/*especificidad 012*/
section article[data-state=flip] {
    transform: rotateY(180deg);
}
/*especificidad 011*/
section article[data-state=revealed] {
    transform: rotateY(180deg);
}
/*especificidad 013*/
section article[data-state] img{
    border: 0.15vh solid #36ABAB;
}

/*especificidad 002*/
section article h3,
/*especificidad 002*/
section article img {
    margin: 0%;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #36ABAB;
    backface-visibility: hidden;
    text-align: center;
}
/*especificidad 002*/
section article h3 {
    font-size: 0.8em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #fff;
}
/*especificidad 002*/
article img {
    transform: rotateY(180deg);
}

/*especificidad 003*/
body  main h2 {
    font-size: 1.5em;
    margin: 5% 25%;
    text-align: center;
}
/*especificidad 002*/
main aside {
    display: flex;
    flex-direction: column;
    margin: 3% 3.5%;
}
/*especificidad 003*/
main aside article{
    display: none;
    flex-direction: column;
    margin: 2% 0;
    padding: 3%;
    border: 0.4vh solid #36ABAB;
}
/*especificidad 003*/
main aside button {
    font-size: 1.2em;
}

main > h3 {
    text-align: center;
    font-size: 2em;
}

/*Los siguientes selectores modifican la cara oculta de las cartas para garantizar un contraste AAA en favor de la usabilidad
  Dando al usuario más facilidades para encontrar las cartas pareja, mediante el uso del color de fondo y las letras de las imagenes con los logos
*/
/*especificidad 023*/
section article[data-element='Alpine'][data-state] img{
    background: #00EEFF;
}
/*especificidad 023*/
section article[data-element='McLaren'][data-state] img{
    background: #fa9b43;
}
/*especificidad 023*/
section article[data-element='RedBull'][data-state] img {
    background: #f5ff63;
}
/*especificidad 023*/
section article[data-element='AstonMartin'][data-state] img {
    background: #fff;
}
/*especificidad 023*/
section article[data-element='Mercedes'][data-state] img {
    background: #9cafff;
}
/*especificidad 023*/
section article[data-element='Ferrari'][data-state] img {
    background: #93ff7e;
}


@media screen and (max-width: 768px){ 
    body main {
        display: inline;
        margin: 0 1%;
        padding: 0;
    }

    body main aside {
        display: flex;
        flex-direction: column;
    }

    main p {
        display: inherit;
        padding: 2% 5%;
        margin: 0 5%;
        text-align: center;
    }
    body {
        display: block;
    }
}